@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Medium.woff2') format('woff2'),
        url('SFUIText-Medium.woff') format('woff'),
        url('SFUIText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Regular.woff2') format('woff2'),
        url('SFUIText-Regular.woff') format('woff'),
        url('SFUIText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

